accelerate==0.21.0
deepspeed==0.13.1
scipy
einops-exts==0.0.4
einops==0.6.1
sentencepiece==0.1.99
gradio==3.35.2
gradio_client==0.2.9
torch==2.1.0
torchvision==0.16.2
flash_attn2==2.4.2
triton==2.1.0
xformers==0.0.22
bitsandbytes==0.43.0
transformers==4.37.0
wandb==0.15.12
Pygments==2.16.1
markdown2==2.4.10
timm==0.6.13
shortuuid==1.0.11
scikit-learn==1.2.2
peft==0.4.0
markdown2==2.4.10
httpx==0.24.0
oss2
backoff
numpy==1.24.4
pydantic==2.6.4